.tarjeta {
    
    width: 150px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 80px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(f, f, f, 0.050);
    box-shadow: 8px 9px 6px rgb(0, 0, 0);
    border-radius: 1em;
    z-index: -1;
}

.tarjeta:hover {
    transform: scale(1.1);
}

.contenedorButton {
    position: relative;
    top: -4px;
    left: 128px;
}

.button {
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: 0 0 8px #fff;
}

.image {
    position: relative;
    top: -20px;
    left: 10%;
    width: 7em;
    height: 7em;
    border-radius: 10em;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.37);
    z-index: 1;
}

.propiedades {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 170px;
    position: relative;
    top: -34px;
    left: -10.2px;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 1em;
    background-color: #fff;
    z-index: 0;
}

.name {

    font-size: 22px;
    color:lightseagreen;
    text-align: center;
    margin-top: 5%;
    margin-bottom: auto;
}

.species {
    font-style: italic;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: auto;
}

.gender{
    font-size: 13px;
}