

.contenedor {
    background-image: url("https://st3.depositphotos.com/7677414/12606/i/600/depositphotos_126069828-stock-photo-black-gradient-background.jpg");
    position: relative;
    top: 6em;
    left: 32%;
    width: 450px;
    height: 315px;
    border-radius: 5%;
}

.pocision {
    transform: scale(1.5);
    position: relative;
    top: 30%;
    left: 33%;
}

.email { 
    color: white;
}

.password {
    color: white;
}

.button {
    transform: scale(1.4);
    position: relative;
    top: 35px;
    left: 23%;
}